
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(227, 222, 222);
}

/* -------------------------------- header */

.nav {
    background: transparent;
    position:fixed;
    right: 0;
    top: 1.5em;
}

li {
    list-style: none;
    display: inline;
    text-align: right;
    font-size: 1.2em;
    letter-spacing: 1px;
    padding-right: 1em;
}

/* -------------------------------- header */

.hero {
    color: rgb(227, 222, 222);
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.938) 0%, rgba(90, 66, 49, 0.484) 90%), url(../../images/Hatshepsut-1.jpg);
    background-size: cover;
    height: 85vh;
}

h1 {
   text-transform: uppercase;
   font-size: 8em;
}

.hero p {
    font-size: 3em;
}

.hero img {
    margin-top: 1em;
    height: 4em;
}